// Place all the styles related to the questions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/


// #button {
//   color: white
//   background: #FFFFFF;
// }


 $gray: #F4F4F4;

 body {
   background: $gray; // Using this variable
 }


#button {
     font-size: 10px;
     color: white;
     background: blue;
     padding: 10px 15px;
   }


